*{
    margin: 0;
    padding: 0;
    font-family: "poppins" , sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #1d4000, #20205b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calender{
    width: 28vw;
    height: 24vh;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.left , .right{
    /* width: 50%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    flex-direction: column;
}

.right{
    background: #f4351e;
    color: white;
    width: 42%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left{
    width: 58%;
}

#date{
    font-size: 100px;
    line-height: 90px;
}